# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.env.*
!.env.example
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
media_private/
staticfiles/

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Secrets
*.pem
*.key
